# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Dynamodb directories
.dynamodb
.DS_Store

# Vscode directories
.Vscode


# Webpack directories
.webpack

#dist
/lib